html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --gradientN: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  --gradientS: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  --gradientD: linear-gradient(135deg, #443bc4 0%, #428bdd 100%);
}
::placeholder {
  color: white;
  font-size: 13px;
  text-align: center;
}

/* STYLING */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(33, 35, 54);
}
#root {
  background-image: linear-gradient(135deg, #243949, 0%, #517fa4, 100%);
}
input {
  font-family: 'Montserrat', sans-serif;
  color: white;
  width: 60%;
  margin: auto;
  height: 26px;
  border-radius: 25px;
  background-image: var(--gradientN);
  border: none;
  outline: none;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 200ms ease;
}
input:focus {
  transform: scale(1.15);
}
input:hover {
  transform: scale(1.15);
}
.form-container {
  position: absolute;
  margin-top: 17px;
}
form {
  display: block;
  margin: 10px 0;
  width: 400px;
  height: 30px;
  text-align: center;
}
h1 {
  font-weight: 900;
}
h3 {
  font-weight: 600;
}

.container {
  color: white;
  width: 400px;
  height: 630px;
  margin: 25px auto;
  -webkit-box-shadow: 0px 0px 41px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 41px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 41px -6px rgba(0, 0, 0, 0.75);
  border-radius: 25px 25px 0px 0px;
}
/* WEATHER SIDE */
.weather-side {
  padding: 30px;
  position: relative;
  width: 400px;
  height: 285px;
  background-image: url('../img/img.jpg');
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 25px 25px 0px 0px;
  transition: 200ms ease;
}
.weather-side:hover {
  border-radius: 25px 25px 0px 0px;
  cursor: pointer;
  transform: scale(1.07) perspective(1500px) rotateX(-10deg);
}
.gradient-night {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: var(--gradientN);
  opacity: 0.85;
  border-radius: 25px 25px 0px 0px;
}
.gradient-sunny {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: var(--gradientS);
  opacity: 0.8;
  border-radius: 25px 25px 0px 0px;
}
.gradient-dark {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: var(--gradientD);
  opacity: 0.8;
  border-radius: 25px 25px 0px 0px;
}
.date-container {
  position: absolute;
  right: 30px;
  text-align: right;
  color: white;
}
.weather-container {
  position: absolute;
  bottom: 30px;
}

.date-dayname {
  line-height: 20px;
  display: block;
  font-weight: 700;
  font-size: 28px;
}
.date-day {
  display: block;
}
.location {
  font-size: 15px;
}
.icon-weather {
  display: block;
}
.weather-temp {
  font-size: 78px;
  font-weight: 700;
}
.weather-status {
  font-size: 28px;
}
/* INFO SIDE */
li {
  float: left;
  margin: 0px;
  width: 80px;
  height: 130px;
  color: white;
  background-color: #232d3d;
  -webkit-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.75);
  transition: 100ms ease;
}
li:hover {
  cursor: pointer;
  transform: scale(1.15);
}
.info-side {
  width: 400px;
  height: 345px;
  background-color: #1d2229;
}
.info-row {
  margin-bottom: 6px;
}
.info-rain {
  margin: 10px 0px;
  font-weight: bold;
  text-align: left;
}
.info-rain-value {
  float: right;
}
.info-humidity {
  font-weight: bold;
  text-align: left;
}
.info-humidity-value {
  float: right;
}
.info-wind {
  font-weight: bold;
  text-align: left;
}
.info-wind-value {
  float: right;
}
.today-info {
  padding-top: 30px;
  margin: 0px 70px;
  color: white;
}
.week-container {
  margin: 40px 40px 20px 40px;
  height: 110px;
}

.week-list > li .day-name {
  display: block;
  margin: 10px 0 0 0;
  text-align: center;
  font-weight: 400;
}

.week-list > li .day-icon {
  display: block;
  height: 30px;
  width: auto;
  margin: 10px auto;
}

.week-list > li .noon-temp {
  display: block;
  text-align: center;
  margin: 10px 0 0 0;
  font-weight: 700;
}
.week-list > li .night-temp {
  display: block;
  text-align: center;
  margin: 10px 0 0 0;
  font-weight: 700;
}
